# Lesson 02 - Checking Imported Data

We'll Cover:  

  - Importing data with pandas
  - Setting up basic checks for data integrity using hard coded values
  - Letting you know that something isn't right

If you have not done so already please take a look at ***Lesson 01 - Importing Data and Quick Checks*** before going through this tutorial. That notebook will get you up to speed <https://github.com/stoltzmaniac/etl-in-python-tutorial/blob/master/01%20-%20Import%20Data.ipynb>

In [1]:
# Import all libraries first
import pandas as pd
import numpy as np

%matplotlib inline

As covered previously, import the data.

In [2]:
# Read historical data and take a look at it
data = pd.read_csv('data/2003-2004_sales.csv').drop(['Unnamed: 0', 'QTR_ID'], axis=1)
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,2,2003,Motorcycles,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,5,2003,Motorcycles,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,7,2003,Motorcycles,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,8,2003,Motorcycles,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,10,2003,Motorcycles,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium

From our prior exploration we know what the column names should be and some basic statistics. We will start by simply hard coding these values and can later utilize a more dynamic structure. For our hard coded values, we will use an ALL_CAPS naming convention. Let's take a look at the bare bones of what we need for each column.

  - ORDERNUMBER (int64)
    - Minimum
  - QUANTITYORDERED (int64)
    - Average & Standard Deviation
  - PRICEEACH (float64)  
    - Average & Standard Deviation
  - ORDERONLINENUMBER (int64)
    - Minimum  
  - SALES (float64)  
    - Average & Standard Deviation
  - ORDERDATE (object)  
    - Minimum
  - STATUS (object)
    - Unique Values
  - MONTH_ID (int64)
    - Unique Values / Range of Integers
  - YEAR_ID (int64)
    - Unique Values / Range of Integers
  - ADDRESSLINE1 (object)
    - ?
  - ADDRESSLINE2 (object)
    - ?
  - CITY (object) 
    - ?
  - STATE (object) 
    - ?
  - POSTALCODE (object)  
    - ?
  - COUNTRY (object)
    - ?
  - TERRITORY (object)  
    - ?
  - CONTACTLASTNAME (object)	
    - ?
  - CONTACTFIRSTNAME (object)	
    - ?
  - DEALSIZE (object)
    - Unique Values
  
Note: **?** is a stand in for "not easy to do" or "it doesn't make sense to check" -- why wouldn't we want to check `CONTACTFIRSTNAME`?   

Note: **(object)** is used where `numpy` (underlying `pandas`) is not displaying the actual type of the object. It is therefore referred to as `(object)` for now. However, understand that there are `datetime` objects, `string` etc.

In addition to these, we need to check the columns exist and check the type of data is consistent.

----

Let's first check on the column names and types.

In [3]:
COLUMN_NAMES_CORRECT = [
     'ORDERNUMBER',
     'QUANTITYORDERED',
     'PRICEEACH',
     'ORDERLINENUMBER',
     'SALES',
     'ORDERDATE',
     'STATUS',
     'MONTH_ID',
     'YEAR_ID',
     'PRODUCTLINE',
     'MSRP',
     'PRODUCTCODE',
     'CUSTOMERNAME',
     'PHONE',
     'ADDRESSLINE1',
     'ADDRESSLINE2',
     'CITY',
     'STATE',
     'POSTALCODE',
     'COUNTRY',
     'TERRITORY',
     'CONTACTLASTNAME',
     'CONTACTFIRSTNAME',
     'DEALSIZE']

# The following is not a good practice, exceptions should have a meaning and be more well defined
# This is for illustrative purposes only.
try:
    if list(data.columns) == COLUMN_NAMES_CORRECT:
        print('[SUCCESS] - Column names match!')
    else:
        print('[ERROR] - Column names do not match!')
except Exception as e:
    print(f'[ERROR] - Exception: {e}')

[SUCCESS] - Column names match!

Here is a failing case when removing some column names:

In [4]:
COLUMN_NAMES_INCORRECT_SHORTENED = [
     'QUANTITYORDERED',
     'PRICEEACH',
     'MONTH_ID',
     'YEAR_ID',
     'PRODUCTLINE',
     'STATE',
     'POSTALCODE',
     'COUNTRY',
     'TERRITORY',
     'CONTACTLASTNAME',
     'CONTACTFIRSTNAME']

try:
    if list(data.columns) == COLUMN_NAMES_INCORRECT_SHORTENED:
        print('[SUCCESS] - Column names match!')
    else:
        print('[ERROR] - Column names do not match!')
except Exception as e:
    print(f'[ERROR] - Exception: {e}')

[ERROR] - Column names do not match!

In those cases, the order of the list matter. What if we don't care what order they are in? Here is the failing case:

In [5]:
COLUMN_NAMES_INCORRECT_OUT_OF_ORDER = [
     'DEALSIZE',
     'ORDERNUMBER',
     'QUANTITYORDERED',
     'PRICEEACH',
     'ORDERLINENUMBER',
     'SALES',
     'ORDERDATE',
     'STATUS',
     'MONTH_ID',
     'YEAR_ID',
     'PRODUCTLINE',
     'MSRP',
     'PRODUCTCODE',
     'CUSTOMERNAME',
     'PHONE',
     'ADDRESSLINE1',
     'ADDRESSLINE2',
     'CITY',
     'STATE',
     'POSTALCODE',
     'COUNTRY',
     'TERRITORY',
     'CONTACTLASTNAME',
     'CONTACTFIRSTNAME']

# The following is not a good practice, exceptions should have a meaning and be more well defined
# This is for illustrative purposes only.
try:
    if list(data.columns) == COLUMN_NAMES_INCORRECT_OUT_OF_ORDER:
        print('[SUCCESS] - Column names match!')
    else:
        print('[ERROR] - Column names do not match!')
except Exception as e:
    print(f'[ERROR] - Exception: {e}')

[ERROR] - Column names do not match!

Let us specify, that for our use case:  

  1. Order of the columns does not matter
  2. All columns from list must be found in the imported data
  3. Extra columns do not matter  
  
There are a LOT of different ways you could solve this problem. We are simply going to select the columns we care about from the dataframe. If this throws an

In [6]:
COLUMN_NAMES = [
     'ORDERNUMBER',
     'QUANTITYORDERED',
     'PRICEEACH',
     'ORDERLINENUMBER',
     'SALES',
     'ORDERDATE',
     'STATUS',
     'MONTH_ID',
     'YEAR_ID',
     'PRODUCTLINE',
     'MSRP',
     'PRODUCTCODE',
     'CUSTOMERNAME',
     'PHONE',
     'ADDRESSLINE1',
     'ADDRESSLINE2',
     'CITY',
     'STATE',
     'POSTALCODE',
     'COUNTRY',
     'TERRITORY',
     'CONTACTLASTNAME',
     'CONTACTFIRSTNAME',
     'DEALSIZE']


# The following is not a good practice, exceptions should have a meaning and be more well defined
# This is for illustrative purposes only.
try:
    if data[COLUMN_NAMES].all:
        print('[SUCCESS] - All columns were selected, so they must exist!')
except Exception as e:
    print(f'[ERROR] - Exception: {e}')

[SUCCESS] - All columns were selected, so they must exist!

Now that we have all of the columns selected by name, we need to check the type of data. We will leave `dtype` for `object` remain this way for now. It takes a bit more work to get the actual data type to compare, so we'll stick with this for the purpose of brevity. Keep in mind that the data may not come in with columns in the right order, therefore, we need to select the data before check the column types.

In [7]:
COLUMN_DATA_TYPES = [np.dtype('int64'),
                     np.dtype('int64'),
                     np.dtype('float64'),
                     np.dtype('int64'),
                     np.dtype('float64'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('int64'),
                     np.dtype('int64'),
                     np.dtype('O'),
                     np.dtype('int64'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O'),
                     np.dtype('O')]


# This is starting to feel like a lot of work, isn't there a better way??

The steps above have been very manual and take a lot of work with plenty of places to make mistakes. Luckily for us, the people who maintain `pandas` have solved a lot of these problems for us. We simply need a dataframe to start with and then we can compare things to that.  

We are going to have some fun and use the current data set we've loaded as what we are going to test against. This will save us a lot of time. For many of you, this is not unlike the real world. You can take a historical data file and use it to setup for the next steps.

Check out the documentation here: <https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.testing.assert_frame_equal.html>

In [8]:
# Bringing in test_data as we did before, ensuring we don't overwrite and confuse variable names
test_data = pd.read_csv('data/2003-2004_sales.csv').drop(['Unnamed: 0', 'QTR_ID'], axis=1)

data = pd.read_csv('data/2005-01_sales.csv').drop(['Unnamed: 0', 'QTR_ID'], axis=1)
data.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,MONTH_ID,YEAR_ID,PRODUCTLINE,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10369,41,100.00,2,4514.92,1/20/2005 0:00,Shipped,1,2005,Classic Cars,...,7825 Douglas Av.,NaN,Brickhaven,MA,58339,USA,NaN,Nelson,Allen,Medium
1,10362,22,100.00,4,3664.10,1/5/2005 0:00,Shipped,1,2005,Motorcycles,...,9408 Furth Circle,NaN,Burlingame,CA,94217,USA,NaN,Hirano,Juri,Medium
2,10373,39,100.00,3,4046.25,1/31/2005 0:00,Shipped,1,2005,Classic Cars,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
3,10370,35,65.63,4,2297.05,1/20/2005 0:00,Shipped,1,2005,Classic Cars,...,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,APAC,O'Hara,Anna,Small
4,10363,33,85.39,3,2817.87,1/6/2005 0:00,Shipped,1,2005,Classic Cars,...,"Software Engineering Center, SEC Oy",NaN,Espoo,NaN,FIN-02271,Finland,EMEA,Suominen,Kalle,Small

To see if two dataframes are exactly equal, it is very simple by using `pd.testing.assert_frame_equal()`

In [9]:
# This passes
try:
    pd.testing.assert_frame_equal(test_data, test_data)
    print('[SUCCESS] - dataframes are exactly equal')
except Exception as e:
    print(f'[ERROR] - an exception was thrown: {e}')

[SUCCESS] - dataframes are exactly equal

In [10]:
# This fails
try:
    pd.testing.assert_frame_equal(test_data, data)
    print('[SUCCESS] - dataframes are exactly equal')
except Exception as e:
    print(f'[ERROR] - an exception was thrown: {e}')

[ERROR] - an exception was thrown: DataFrame are different

DataFrame shape mismatch
[left]:  (2345, 24)
[right]: (99, 24)

We are currently looking for two things:
  1. All the columns we care about are in there
  2. Data types match

It's very easy to simply check column names and `dtype`

In [11]:
# Adding check_like allows for columns to change order
try:
    pd.testing.assert_frame_equal(test_data.iloc[0:0], data[0:0], check_like=True)
    print('[SUCCESS] - dataframes have same columns and dtypes')
except Exception as e:
    print(f'[ERROR] - an exception was thrown: {e}')

[SUCCESS] - dataframes have same columns and dtypes

Now that we know the columns are the same and have the same `dtype` we can go ahead and test the data to see if it's similar to what we expect from our historical dataframe. For simplicity, let's first get a handle on the numerical columns.

In [12]:
COLUMN_NAMES_NUMERICAL = [
     'QUANTITYORDERED',
     'PRICEEACH',
     'SALES',
     'MSRP']

test_data_numerical = test_data.copy()[COLUMN_NAMES_NUMERICAL]
data_numerical = data.copy()[COLUMN_NAMES_NUMERICAL]

We know that `ORDERNUMBER` and `ORDERLINENUMBER` should never predate the first dates where the data starts. So we can simply check for `>=`

In [13]:
for col_name in ['ORDERNUMBER', 'ORDERLINENUMBER']:
    min_test_data = min(test_data[col_name])
    min_data = min(data[col_name])
    if min_data >= min_test_data:
        print(f'[SUCCESS] - All {col_name} >= minimum requirement')
    else:
        print(f'[ERROR] - All {col_name} not >= minimum requirement')

[SUCCESS] - All ORDERNUMBER >= minimum requirement
[SUCCESS] - All ORDERLINENUMBER >= minimum requirement

Our `MONTH_ID` and `YEAR_ID` are slightly more nuanced but follow strict rules. Months are clearly 1-12 and we are going to constrain years to the starting year up until the year 2100. If we make it to 2100 with this same software...

In [14]:
for i in list(data['MONTH_ID'].unique()):
    if i in range(1,13):
        print(f'[SUCCESS] - Month {i} matches requirements')
    else:
        print(f'[ERROR] - All {i} does not match requirements')

[SUCCESS] - Month 1 matches requirements

In [15]:
for i in list(data['YEAR_ID'].unique()):
    if i in range(2003,2101):
        print(f'[SUCCESS] - Year {i} matches requirements')
    else:
        print(f'[ERROR] - All {i} does not match requirements')

[SUCCESS] - Year 2005 matches requirements

This gets a bit trickier when you start to look at other metrics such as `mean` and `sd`, etc. Let's take another rudimentary approach. We will capture the mean and standard deviations of each column and test to see if all of the values lie within the range of +/- 3 standard deviations of the mean.

In [16]:
test_data.mean(axis=0)

ORDERNUMBER        10231.498081
QUANTITYORDERED       34.727505
PRICEEACH             83.702021
ORDERLINENUMBER        6.566738
SALES               3514.346328
MONTH_ID               7.926226
YEAR_ID             2003.573561
MSRP                 100.827292
dtype: float64

In [17]:
test_data.std(axis=0)

ORDERNUMBER          75.892675
QUANTITYORDERED       9.028843
PRICEEACH            20.141470
ORDERLINENUMBER       4.258489
SALES              1769.969374
MONTH_ID              3.398720
YEAR_ID               0.494665
MSRP                 40.175060
dtype: float64

You can reference the mean and standard deviation for specific columns by passing the column name as a string: `test_data.mean()['PRICEEACH']`.

Now we find all of the standard deviations * 3, then +/- to the mean in order to get our range of acceptable values. In this example, we will transform the data to allow us to align and visualize it much more easily. Let's take a look at the results of adding and subtracting 3x the standard deviation.

In [18]:
num_of_std_away = 3

test_data_means = pd.DataFrame(test_data.mean(axis=0)).T
test_data_stds_plus = num_of_std_away * pd.DataFrame(test_data.std(axis=0)).T
test_data_stds_minus = -num_of_std_away * pd.DataFrame(test_data.std(axis=0)).T

test_data_high = pd.concat([test_data_means, test_data_stds_plus]).sum()
test_data_low = pd.concat([test_data_means, test_data_stds_minus]).sum()

test_data_high

ORDERNUMBER        10459.176105
QUANTITYORDERED       61.814033
PRICEEACH            144.126432
ORDERLINENUMBER       19.342205
SALES               8824.254451
MONTH_ID              18.122385
YEAR_ID             2005.057555
MSRP                 221.352472
dtype: float64

In [19]:
test_data_low

ORDERNUMBER        10003.820057
QUANTITYORDERED        7.640978
PRICEEACH             23.277610
ORDERLINENUMBER       -6.208730
SALES              -1795.561794
MONTH_ID              -2.269933
YEAR_ID             2002.089567
MSRP                 -19.697887
dtype: float64

The data can easily be identified as pass/fail based off of fitting the boundary conditions.

In [20]:
for col_name in COLUMN_NAMES_NUMERICAL:
    print(f'Testing: {col_name}')
    if (data[col_name] < test_data_low[col_name]).all() or (data[col_name] > test_data_high[col_name]).all():
        print(f'[ERROR] - {col_name} - does not fit the requirements!')
    else:
        print(f'[SUCCESS] - {col_name} - fits the requirements!')

Testing: QUANTITYORDERED
[SUCCESS] - QUANTITYORDERED - fits the requirements!
Testing: PRICEEACH
[SUCCESS] - PRICEEACH - fits the requirements!
Testing: SALES
[SUCCESS] - SALES - fits the requirements!
Testing: MSRP
[SUCCESS] - MSRP - fits the requirements!

As we can see, all of our tests have passed. This notebook shows results in a printed format, in order to truly "test" our data, we should have more rigorous tests that make or break our data import. We did not dive into the categorical or time series / datetime data. This would be quite repetitive compared to what was already done so I will not complete those tasks at this time.

This process has also shown us that our historical data can quickly be used to affect future decisions. You could expand this out to include a lot of historical data or less simply by reading in more or less data!

In a future post, we will consider going beyond the notebook into utilizing a CLI so that parameters can be input in order to constrain things on the fly.

Thank you for reading!